<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style="text-align: center;">
    <img src="./node_icon.jpg"/>
    <p style="font-size: 20px;">If you can visit this page that means your service has been successfully started</p>

    <ul style="list-style: none; font-size: 18px;">
      <li>Here is the api doc...</li>
    </ul>
  </body>
</html>
