<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1></h1>
    <p>Welcome to
        <%= title %>
    </p>
    <a href="./sync">WEATHER SYNCHRONIZER</a>
    <form action="./query" method="GET"><br/>
        <input type="text" name="name" /> <br/><br/>
        <input type="submit" value="QUERY" />
    </form>
</body>

</html>